USE [master]
GO
/****** Object:  Database [EF338E00A0F01C2D0137E0CEE2DD1BF7_PROGRAMMING\PROJECTS\PROJECT02 - GYM MS\GYM MANAGEMENT SYSTEM\GYM MANAGEMENT SYSTEM\DBGYMMS.MDF]    Script Date: 6/21/2026 11:19:03 PM ******/
CREATE DATABASE [EF338E00A0F01C2D0137E0CEE2DD1BF7_PROGRAMMING\PROJECTS\PROJECT02 - GYM MS\GYM MANAGEMENT SYSTEM\GYM MANAGEMENT SYSTEM\DBGYMMS.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbGymMS', FILENAME = N'D:\ECS\Sem 5 (Year of Study 3 )\BECS 31242 - Visual Programming\Projects\Project02 - Gym MS\Gym Management System\Gym Management System\dbGymMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbGymMS_log', FILENAME = N'D:\ECS\Sem 5 (Year of Study 3 )\BECS 31242 - Visual Programming\Projects\Project02 - Gym MS\Gym Management System\Gym Management System\dbGymMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EF338E00A0F01C2D0137E0CEE2DD1BF7_PROGRAMMING\PROJECTS\PROJECT02 - GYM MS\GYM MANAGEMENT SYSTEM\GYM MANAGEMENT SYSTEM\DBGYMMS.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EF338E00A0F01C2D0137E0CEE2DD1BF7_PROGRAMMING\PROJECTS\PROJECT02 - GYM MS\GYM MANAGEMENT SYSTEM\GYM MANAGEMENT SYSTEM\DBGYMMS.MDF]
GO
/****** Object:  Table [dbo].[employee_payments]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](50) NULL,
	[admin_id] [varchar](50) NULL,
	[base_salary] [decimal](10, 2) NULL,
	[bonus] [decimal](10, 2) NULL,
	[deductions] [decimal](10, 2) NULL,
	[final_amount] [decimal](10, 2) NULL,
	[payment_date] [datetime] NULL,
	[payment_month] [varchar](20) NULL,
	[payment_method] [int] NULL,
	[remarks] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[category] [varchar](50) NULL,
	[purchase_date] [date] NULL,
	[status] [varchar](50) NULL,
	[brand] [varchar](100) NULL,
	[model_number] [varchar](100) NULL,
	[serial_number] [varchar](100) NULL,
	[purchase_price] [decimal](10, 2) NULL,
	[warranty_expiry_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercises]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gym_plans]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gym_plans](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[description] [text] NULL,
	[price] [decimal](10, 2) NULL,
	[duration_months] [int] NULL,
	[access_level] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gym_schedules]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gym_schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [varchar](50) NULL,
	[coach_id] [varchar](50) NULL,
	[created_date] [date] NULL,
	[expiry_date] [date] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberships]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberships](
	[id] [varchar](50) NOT NULL,
	[user_id] [varchar](50) NULL,
	[plan_id] [varchar](50) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[payment_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [varchar](50) NULL,
	[item_id] [varchar](50) NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [varchar](50) NOT NULL,
	[user_id] [varchar](50) NULL,
	[staff_id] [varchar](50) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[order_date] [datetime] NULL,
	[status] [int] NULL,
	[original_order_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule_exercises]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule_exercises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[schedule_id] [int] NOT NULL,
	[exercise_id] [int] NOT NULL,
	[sets] [int] NOT NULL,
	[reps] [int] NOT NULL,
	[day_of_week] [varchar](20) NOT NULL,
	[notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](150) NOT NULL,
	[member_id] [varchar](50) NOT NULL,
	[coach_id] [varchar](50) NOT NULL,
	[days_per_week] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_log]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_log](
	[service_id] [varchar](50) NOT NULL,
	[equipment_id] [varchar](50) NULL,
	[service_date] [date] NULL,
	[service_type] [varchar](100) NULL,
	[technician] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[parts_replaced] [varchar](max) NULL,
	[cost] [decimal](10, 2) NULL,
	[next_service] [date] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_items]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_items](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](100) NULL,
	[description] [text] NULL,
	[price] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[category] [varchar](50) NULL,
	[expiry_date] [date] NULL,
	[image_path] [varchar](255) NULL,
	[min_stock_level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/21/2026 11:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[role] [int] NULL,
	[phone] [varchar](15) NULL,
	[address] [text] NULL,
	[salary] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
	[status] [int] NULL,
	[dob] [date] NULL,
	[gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee_payments] ADD  DEFAULT ((0.00)) FOR [bonus]
GO
ALTER TABLE [dbo].[employee_payments] ADD  DEFAULT ((0.00)) FOR [deductions]
GO
ALTER TABLE [dbo].[employee_payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[employee_payments] ADD  DEFAULT ((1)) FOR [payment_method]
GO
ALTER TABLE [dbo].[gym_schedules] ADD  DEFAULT (CONVERT([date],getdate())) FOR [created_date]
GO
ALTER TABLE [dbo].[gym_schedules] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[memberships] ADD  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[schedule_exercises] ADD  DEFAULT ((3)) FOR [sets]
GO
ALTER TABLE [dbo].[schedule_exercises] ADD  DEFAULT ((10)) FOR [reps]
GO
ALTER TABLE [dbo].[schedules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[store_items] ADD  DEFAULT ((5)) FOR [min_stock_level]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((4)) FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0.00)) FOR [salary]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[employee_payments]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[employee_payments]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[gym_schedules]  WITH CHECK ADD FOREIGN KEY([coach_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[gym_schedules]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[memberships]  WITH CHECK ADD FOREIGN KEY([plan_id])
REFERENCES [dbo].[gym_plans] ([id])
GO
ALTER TABLE [dbo].[memberships]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[store_items] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[schedule_exercises]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExercises_Exercise] FOREIGN KEY([exercise_id])
REFERENCES [dbo].[exercises] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[schedule_exercises] CHECK CONSTRAINT [FK_ScheduleExercises_Exercise]
GO
ALTER TABLE [dbo].[schedule_exercises]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleExercises_Schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedules] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[schedule_exercises] CHECK CONSTRAINT [FK_ScheduleExercises_Schedule]
GO
ALTER TABLE [dbo].[service_log]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
